@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Oswald:wght@300;700&family=Red+Hat+Display:wght@400;700;900&display=swap');

/*==================== VARIABLES CSS ====================*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  --first-color: hsl(79, 72%, 55%);
  --first-color-light: hsl(79, 97%, 77%);
  --first-color-alt: hsl(79, 59%, 46%);
  --first-color-dark: hsl(79, 62%, 40%);
  --first-color-gray: hsl(79, 6%, 64%);
  --title-color: hsl(180, 4%, 98%);
  --title-color-black: hsl(180, 4%, 12%);
  --text-color: hsl(180, 4%, 72%);
  --text-color-light: hsl(180, 4%, 65%);
  --body-color: hsl(180, 12%, 8%);

  /*========== Font ==========*/
  --body-font: 'Red Hat Display', sans-serif;
  --second-font: 'Kaushan Script', cursive;
  --xxl-font-size: 2rem;
  --xl-font-size: 1.5rem;
  --l-font-size: 1rem;
  --m-font-size: .875rem;
  --s-font-size: .813rem;
  --xs-font-size: .75rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --font-bold: 700;
  --font-black: 900;

  /*========== z-index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-margin-top: 30px;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input {
  font-family: var(--body-font);
  font-size: var(--m-font-size);
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
}

h1,
h2,
h3 {
  color: var(--title-color);
  font-weight: var(--font-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

abbr {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}


/*==================== REUSABLE CSS CLASSES ====================*/
.container {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

section {
  padding: 4.5rem 0 2rem;
}

.section__header {
  text-align: center;
}

.section__data {
  display: flex;
  flex-direction: column;
  row-gap: .75rem;
  text-align: center;
  margin-bottom: 3rem;
}

.section__title,
.section__title-border {
  font-size: var(--big-font-size);
  letter-spacing: 1.5px;
}

.section__subtitle {
  font-size: var(--h2-font-size);
  font-family: var(--second-font);
  font-weight: 400;
  letter-spacing: 1.5px;
  color: var(--first-color);
}

.section__title {
  display: flex;
  column-gap: .75rem;
  justify-content: center;
}

.section__title-border {
  -webkit-text-stroke: 1px var(--text-color);
  color: transparent;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.main {
  overflow: hidden;
}

.visually-hidden {
  position: absolute;
  width: 0.063em;
  height: 0.063em;
  margin: -0.063em;
  padding: 0;
  border: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
}


/*==================== HEADER ====================*/
#navigation {
  width: 100%;
  background-color: var(--body-color);
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  transition: background .3s;
}

nav {
  display: flex;
  height: var(--header-height);
  justify-content: space-between;
  align-items: center;
}

.nav__logo,
.nav__toggle {
  display: flex;
  color: var(--title-color);
}

.nav__logo {
  align-items: center;
  column-gap: .5rem;
  font-weight: var(--font-bold);
}
.nav__logo span {
  display: none;
}

.nav__logo img {
  width: 5.25rem;
}

.nav__toggle {
  font-size: 1.25rem;
  cursor: pointer;
}

.nav__list {
  padding: 5rem 0 0 3rem;
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
}

.nav__item {
  color: var(--title-color);
  transition: color .3s;
}

.nav__item:hover {
  color: var(--first-color);
}
.nav__item a {
  display: block;
  width: 100%;
}
.nav__close {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  font-size: 1.5rem;
  color: var(--title-color);
  cursor: pointer;
}

.show-menu {
  right: 0 !important;
}


/*==================== HOME ====================*/
.home {
  position: relative;
  padding-bottom: 0;
  padding-top: 4rem;
  row-gap: .3rem;
  text-align: center;
}

.home__title,
.program__title {
  margin: .5rem 0;
  font-size: var(--xxl-font-size);
  font-weight: var(--font-black);
  letter-spacing: 1.5px;
}
.home__title span,
.home__description span,
.program.container:nth-child(1 of .program__title) span,
.maps span {
  white-space: nowrap;
}
.home__title .secondary,
.program__title .secondary,
.maps__title .secondary {
  font-size: var(--xl-font-size);
  -webkit-text-stroke: 1px var(--title-color);
  color: transparent;
}

.home__description {
  margin-bottom: 2.5rem;
  font-size: var(--l-font-size);
}

.button {
  display: inline-block;
  width: fit-content;
  margin: auto;
  padding: 18px 32px;
  background-color: var(--first-color);
  border: 2px solid var(--first-color-light);
  font-weight: var(--font-bold);
  cursor: pointer;
  transition: background .3s;
}
.button:hover {
  background-color: var(--first-color-alt);
}

.button i {
  font-size: 1.25rem;
  transition: transform .3s;
}
.button__flex {
  display: inline-flex;
  margin-bottom: 3rem;
  align-items: center;
  justify-content: center;
  column-gap: .5rem;
  color: var(--title-color-black);
}
.button__flex:hover i {
  transform: translateX(.25rem);
}

.triangle,
.triangle::before,
.triangle::after {
  display: block;
  position: absolute;
  right: 0;
  width: 305px;
  height: 300px;
  clip-path: polygon(100% 0, 0 100%, 100% 100%);
}

.triangle {
  bottom: 0;
  background-color: var(--first-color);
}

.triangle::before,
.triangle::after {
  content: '';
  width: 205px;
  background-color: var(--first-color-alt);
  top: 0;
}

.triangle::after {
  width: 105px;
  background-color: var(--first-color-dark);
}

.home__image {
  display: block;
  position: relative;
  width: 370px;
  margin: 0 auto;
  z-index: var(--z-tooltip);
}


/*==================== PROGRAM ====================*/
.program.container {
  grid-template-columns: repeat(1, auto);
  justify-content: center;
  row-gap: 2rem;
}

.program__title,
.maps__title {
  font-size: var(--xl-font-size);
}
h3.program__title,
h3.maps__title {
  margin-bottom: 2rem;
}

.program__card {
  display: grid;
  background-color: hsla(79, 6%, 64%, .07);
  padding: 1.5rem 2rem;
  border: 2px solid transparent;
  transition: background .5s, border .4s;
}

.program__img::before {
  content: '';
  display: grid;
  place-items: center;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-position: center;
  background-size: 40px 40px;
  background-repeat: no-repeat;
  background-color: var(--first-color-gray);
  margin-bottom: 1rem;
}
.program__img img {
  width: 38px;
}

.program__description {
  font-size: var(--l-font-size);
}

#power-pump .program__img::before {
  background-image: url("/static/img/program1.png");
}
#walking .program__img::before {
  background-image: url("/static/img/program2.png");
}
#spinning .program__img::before {
  background-image: url("/static/img/program8.png");
}
#body-ton .program__img::before {
  background-image: url("/static/img/program7.png");
}
#functional-training .program__img::before {
  background-image: url("/static/img/program4.png");
}
#abdominal-killer .program__img::before {
  background-image: url("/static/img/program6.png");
}
#pilates-gym .program__img::before {
  background-image: url("/static/img/program3.png");
}
#groupboxing .program__img::before {
  background-image: url("/static/img/program5.png");
}

/*==================== TRAINER ====================*/
.trainer__card:nth-child(odd):not(.trainer__card:first-of-type):not(.trainer__card:last-of-type) {
  margin: 1.5rem 0 1.5rem 10%;
  border-left: 2px dashed var(--first-color);
}
.trainer__card:nth-child(even):not(.trainer__card:first-of-type):not(.trainer__card:last-of-type) {
  margin: 1.5rem 10% 1.5rem 0;
  border-right: 2px dashed var(--title-color);
}

.trainer figure {
  display: flex;
}

.trainer__card:nth-child(odd) figure {
  flex-direction: row-reverse;
}
.trainer figcaption {
  width: calc(100% - calc(80px - 1rem));
  height: fit-content;
  margin: auto;
  padding-left: 1rem;
}
.trainer__card:nth-child(odd) figcaption {
  padding-right: 1rem;
  padding-left: 0;
  text-align: right;
}
.trainer__card:nth-child(odd) h4 {
  color: var(--title-color);
}

.trainer figcaption h4 {
  display: block;
  margin: auto;
  font-size: var(--xl-font-size);
  font-weight: var(--font-bold);
  font-family: var(--second-font);
  color: var(--first-color);
}

.trainer__img::before {
  content: '';
  display: grid;
  place-items: center;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  background-color: var(--first-color);
  margin: 1rem 0;
}
.trainer__img img {
  width: 80px;
}

#laura::before,
#roberto::before,
#matteo::before,
#irene::before,
#elisa::before {
  content: '';
  display: grid;
  place-items: center;
  width: 80px;
  height: 80px;
  background-size: cover;
  background-position: center;
  margin: 1rem 0;
}
#laura::before {
  background-image: url('/static/img/laura_icon.png');
}
#roberto::before {
  background-image: url('/static/img/roberto_icon.png');
}
#matteo::before {
  background-image: url('/static/img/matteo_icon.png');
}
#irene::before {
  background-image: url('/static/img/irene_icon.png');
}
#elisa::before {
  background-image: url('/static/img/elisa_icon.png');
}

.trainer__description {
  font-size: var(--l-font-size);
}



/*==================== PRICING ====================*/
.pricing .grid {
  margin-top: 2rem;
  grid-template-columns: 285px;
  justify-content: center;
  row-gap: 2rem;
}

.pricing__card,
.pricing__img,
.pricing__list {
  display: grid;
}

.pricing__card {
  row-gap: 2rem;
  background-color: hsla(79, 6%, 64%, .07);
  padding: 2rem 2.5rem;
}

.pricing__img {
  width: 60px;
  height: 60px;
  background-color: var(--first-color-gray);
  border-radius: 100%;
  place-items: center;
  margin-bottom: 1rem;
  font-family: var(--second-font);
  font-size: var(--xxl-font-size);
  font-weight: var(--font-black);
  color: var(--title-color-black);
}

.pricing__price {
  font-size: var(--xl-font-size);
}

.pricing__list {
  row-gap: 1rem;
}

.pricing__item {
  display: flex;
  column-gap: 1rem;
  align-items: center;
  font-size: var(--l-font-size);
}

.pricing__item span {
  font-size: 1.25rem;
  color: var(--first-color);
}



/*==================== SCHEDULE ====================*/
.schedule table {
  margin: 2rem auto 0 auto;
}

.schedule th {
  font-family: var(--second-font);
  font-size: var(--l-font-size);
  color: var(--first-color);
  padding: 0.5rem 1rem;
}
.schedule td {
  font-size: var(--l-font-size);
  font-weight: var(--font-bold);
  text-align: center;
}



/*==================== MAPS ====================*/
.maps {
  position: relative;
}

.itriangle,
.itriangle::before,
.itriangle::after {
  display: block;
  position: absolute;
  left: 0;
  width: 305px;
  height: 300px;
  clip-path: polygon(100% 100%, 0% 0%, 0% 100%);
}

.itriangle {
  bottom: 0;
  background-color: var(--first-color);
}

.itriangle::before,
.itriangle::after {
  content: '';
  width: 205px;
  background-color: var(--first-color-alt);
  top: 0;
}

.itriangle::after {
  width: 105px;
  background-color: var(--first-color-dark);
}

iframe {
  width: 100%;
  height: auto;
  filter: grayscale(100%);
}



/*==================== MAPS ====================*/

.footer.container {
  row-gap: 4rem;
  padding-top: 1rem;
}

.footer__logo,
.footer__description {
  color: var(--title-color);
}

.footer__logo,
.footer__social {
  display: flex;
}

.footer__logo {
  align-items: center;
  column-gap: .5rem;
  font-weight: var(--font-bold);
  margin-bottom: 1.5rem;
}

.footer__logo::before {
  content: '';
  display: grid;
  place-items: center;
  width: 4.5rem;
  height: 1.5rem;
  background-image: url('/static/img/logo.png');
  background-size: cover;
  background-position: center;
  margin: 1rem 0;
}

.footer__description {
  margin-bottom: 2rem;
}

.footer__content,
.footer__links,
.footer__group {
  display: grid;
}

.footer__content {
  grid-template-columns: repeat(2, max-content);
  gap: 2.5rem 3.5rem;
}

.footer__title {
  font-size: var(--h3-font-size);
  margin-bottom: 1.5rem;
}

.footer__links {
  row-gap: .75rem;
}

.footer__link {
  color: var(--text-color);
  transition: color .3s;
}

.footer__link:hover {
  color: var(--first-color);
}

.footer__group {
  margin-top: 5rem;
  justify-content: center;
  row-gap: 2rem;
}

.footer__social {
  column-gap: 1.25rem;
  justify-content: center;
}

.footer__social-link {
  display: inline-flex;
  padding: .35rem;
  background-color: var(--first-color);
  border-radius: 100%;
  font-size: 1.25rem;
  color: var(--title-color-black);
  transition: background .4s;
}

.footer__copy {
  width: fit-content;
  margin: auto;
  font-size: var(--xs-font-size);
  color: var(--text-color-light);
}



@media (max-width: 340px) {
  /*==================== REUSABLE CSS CLASSES ====================*/
  .container {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  /*==================== NAVBAR ====================*/
  nav {
    width: calc(100% - 2rem);
  }


  /*==================== HOME ====================*/
  .itriangle,
  .itriangle::before,
  .itriangle::after,
  .triangle,
  .triangle::before,
  .triangle::after {
    height: 255px;
    width: calc(100% - 2rem);
  }

  .home__title span,
  .home__description span,
  .program__title span,
  .maps span {
    white-space: normal;
  }


  /*==================== PROGRAM ====================*/
  .program__title,
  .program__title .secondary, 
  .maps__title,
  .maps__title .secondary {
    font-size: var(--l-font-size);
  }


  /*==================== PRICING ====================*/
  .pricing .grid {
    grid-template-columns: auto;
  }

  /*==================== FOOTER ====================*/
  .footer__content {
    grid-template-columns: repeat(1, minmax(5rem, 1fr));
    gap: .5rem .75rem;
  }

  .footer__content div:first-child {
    margin-bottom: 2rem;
  }
}


@media (min-width: 768px) {
  /*==================== HOME ====================*/
  .home.container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }


  /*==================== PROGRAM ====================*/
  .program.container {
    grid-template-columns: auto;
  }

  #power-up {
    grid-template-columns: repeat(2, 250px);
    gap: 2.5rem;
  }


  /*==================== TRAINER ====================*/
  .trainer.container {
    padding-left: 10rem;
    padding-right: 10rem;
  }


  /*==================== PRICING ====================*/
  .pricing .grid {
    grid-template-columns: repeat(3, 1fr);
  }


  /*==================== FOOTER ====================*/
  .footer__content {
    grid-template-columns: repeat(2, auto);
    gap: .5rem .75rem;
  }
}


@media (min-width: 1024px) {
  :root {
    --xxl-font-size: 6rem;
    --xl-font-size: 3.5rem;
    --l-font-size: 2.75rem;
    --m-font-size: 1.5rem;
    --s-font-size: .875rem;
    --xs-font-size: .813rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
  }

  .container {
    padding-right: 4.5rem;
    padding-left: 4.5rem;
  }

  .nav {
    height: calc(var(--header-height) + 2rem);
  }

  .nav__menu {
    height: 100%;
  }
  .nav__list {
    height: 100%;
    flex-direction: row;
    padding: 0;
    align-items: center;
    column-gap: 4rem;
  }
  .nav__item {
    display: flex;
    height: 100%;
    font-size: var(--s-font-size);
    text-align: center;
  }
  .nav__item a {
    margin: auto;
  }

  .nav__toggle,
  .nav__close {
    display: none;
  }

  .section {
    padding: 7rem 0 0;
  }


  .home.container {
    grid-template-columns: repeat(2, max-content);
    overflow-x: hidden;
    justify-content: space-around;

  }
  .home__title {
    display: flex;
    margin: .75rem 0 1.25rem;
    flex-direction: column;
  }
  .home__title span {
    text-align: start;
  }
  .home__description {
    width: 445px;
    margin-bottom: 3rem;
    font-size: var(--m-font-size);
  }
  .home__description span {
    display: block;
    text-align: start;
  }
  .home__image {
    width: 485px;
  }
  .button__flex {
    display: block;
    margin: auto auto auto 0;
  }
  .triangle,
  .triangle::before,
  .triangle::after {
    height: 700px;
    width: 600px;
  }
  .triangle::before {
    width: 400px;
  }
  .triangle::after {
    width: 200px;
  }


  .program.container {
    padding-left: 10rem;
    padding-right: 10rem;
  }
  #power-up {
    grid-template-columns: repeat(2, 1fr);
    gap: 3.5rem;
  }

  .program__img::before {
    width: 85px;
    height: 85px;
  }
  .program__img img {
    width: 50px;
  }

  .program__description {
    font-size: var(--m-font-size);
  }
  .program__description.desktop {
    display: none;
  }



  .trainer.container {
    padding-left: 15rem;
    padding-right: 15rem;
  }
  #laura::before,
  #roberto::before,
  #matteo::before,
  #irene::before,
  #elisa::before {
    content: '';
    display: grid;
    place-items: center;
    width: 200px;
    height: 200px;
    background-size: cover;
    background-position: center;
    margin: 1rem 0;
  }
  .trainer__description {
    font-size: var(--m-font-size);
  }


  .pricing__img {
    font-size: var(--l-font-size);
  }
  .pricing__list li {
    font-size: var(--m-font-size);
  }
}


@media (width < 1024px) {
  .nav__menu {
    position: fixed;
    background-color: hsla(180, 12%, 8%, .8);
    backdrop-filter: blur(32px);
    -webkit-backdrop-filter: blur(32px);
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    transition: right .3s;
  }

  .program__description.desktop {
    display: none;
  }
}