<!DOCTYPE html>
<html lang="it">
<head>
  <meta charset="UTF-8">
  <meta name="keywords" content="Palestra Treviso, Lime Fitness House, Benessere, Fitness, Gym">
  <meta name="description" content="Sito Lime Fitness House, Palestre Ponte di Piave, Palestre Provincia Treviso, Benessere, Allenamento, Corsi, Pilates Gym, Groupboxing, Spinning, Walking">
  <meta name="author" content="Iberu">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/static/img/icon.png">
  <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
  <link rel="stylesheet" href="/static/css/style.css">
  <script defer src="/static/js/base.js"></script>
  <title>Lime Fitness House | Homepage</title>
</head>
<body>
  <header id="navigation">
    <nav class="container">
      <a href="#" class="nav__logo">
        <img src="/static/img/logo.png" alt=""> <span lang="en-US">LIME FITNESS HOUSE</span>
      </a>
      <div class="nav__menu">
        <ul class="nav__list">
          <li class="nav__item">
            <a href="#home">Home</a>
          </li>
          <li class="nav__item">
            <a href="#corsi">Corsi</a>
          </li>
          <li class="nav__item">
            <a href="#trainer"><span lang="en-US">Trainer</span></a>
          </li>
          <li class="nav__item">
            <a href="#prezzi">Prezzi</a>
          </li>
          <li class="nav__item">
            <a href="#orari">Orari</a>
          </li>
          <li class="nav__item">
            <a href="#posizione">Posizione</a>
          </li>
        </ul>

        <div class="nav__close">
          <span class="ri-close-line"></span>
        </div>
      </div>
      
      <div class="nav__toggle">
        <span class="ri-menu-line"></span>
      </div>
    </nav>
  </header>

  <main>
    <section id="home" class="home container grid">
      <div>
        <header class="section__header">
          <h1 class="home__title"><span class="secondary">ENERGIA E</span> <span>BENESSERE</span></h1>
        </header>
  
        <p class="home__description"><span>Dove il benessere diventa uno stile di vita:</span> <span>benvenuti nel nostro mondo del fitness.</span></p>
        <a href="#corsi" class="button button__flex">Scopri <span class="ri-arrow-right-line"></span></a>
      </div>

      <div>
        <div class="triangle"></div>
        <img src="/static/img/background.png" class="home__image" alt="Due atleti, un uomo ed una donna, in posa per una foto.">
      </div>
    </section>

    <section id="corsi" class="program container grid">
      <header class="section__header">
        <h2 class="section__subtitle">I nostri corsi</h2>
        <h3 class="program__title"><span class="secondary">PER RAGGIUNGERE</span> <span>I TUOI OBIETTIVI</span></h3>
      </header>
      <div id="power-up" class="container grid">
        <div id="power-pump" class="program__card">
          <div class="program__img"></div>
          <h3 class="program__title"><span lang="en-US">Power Pump</span></h3>

          <p class="program__description">
            Il <span lang="en-US">Power Pump</span> è un allenamento fitness che fonde il sollevamento pesi con l'energia delle lezioni di gruppo.
          </p>
        </div>

        <div id="walking" class="program__card">
          <div class="program__img"></div>
          <h3 class="program__title"><span lang="en-US">Walking</span></h3>

          <p class="program__description">
            Il <span lang="en-US">walking</span> è un'attività fisica alla portata di tutti, che coinvolge il movimento a piedi a un ritmo costante.
          </p>
        </div>

        <div id="spinning" class="program__card">
          <div class="program__img"></div>
          <h3 class="program__title"><span lang="en-US">Spinning</span></h3>

          <p class="program__description">
            Lo <span lang="en-US">spinning</span> è una forma di allenamento cardiovascolare ad alta intensità eseguito su cyclette.
          </p>
        </div>

        <div id="body-ton" class="program__card">
          <div class="program__img"></div>
          <h3 class="program__title"><span lang="en-US"><abbr title="Body and Tonification">Body & Ton</abbr></span></h3>

          <p class="program__description">
            <span lang="en-US">Body and Tonification</span> è una sessione dinamica progettata per snellire, rafforzare e migliorare la tua forma fisica generale.
          </p>
        </div>

        <div id="functional-training" class="program__card">
          <div class="program__img"></div>
          <h3 class="program__title"><span lang="en-US">Functional Training</span></h3>

          <p class="program__description">
            Il <span lang="en-US">functional training</span> è un approccio fitness mirato a migliorare la forza, flessibilità e stabilità del corpo per affrontare le sfide quotidiane.
          </p>
        </div>

        <div id="abdominal-killer" class="program__card">
          <div class="program__img"></div>
          <h3 class="program__title"><span lang="en-US">Abdominal killer</span></h3>

          <p class="program__description">
            <span lang="en-US">Abdominal Killer</span> è un allenamento progettato per scolpire e rinforzare i tuoi addominali e a migliorare la stabilità e l'equilibrio.
          </p>
        </div>

        <div id="pilates-gym" class="program__card">
          <div class="program__img"></div>
          <h3 class="program__title"><span lang="en-US">Pilates Gym</span></h3>

          <p class="program__description">
            Il <span lang="en-US">Pilates Gym</span> è un metodo di allenamento che unisce il rafforzamento fisico e il benessere mentale.
          </p>
        </div>

        <div id="groupboxing" class="program__card">
          <div class="program__img"></div>
          <h3 class="program__title"><span lang="en-US">GroupBoxing</span></h3>

          <p class="program__description">
            Il <span lang="en-US">groupboxing</span> è una disciplina fitness che unisce l'allenamento con sacchi da boxe a lezioni di gruppo.
          </p>
        </div>
      </div>
    </section>

    <section id="trainer" class="trainer container">
      <header class="section__header">
        <h2 class="section__subtitle">Personal Trainer</h2>
        <h3 class="maps__title"><span class="secondary">SCOPRI</span> <span>GLI ISTRUTTORI</span></h3>
      </header>

      <div class="trainer__card">
        <figure>
          <div id="roberto" class="trainer__img"></div>
          <figcaption>
            <h4>ROBERTO</h4>
            <ul class="trainer__description">
              <li lang="en-US">Fondatore</li>
              <li lang="en-US">Functional Training</li>
              <li lang="en-US">GroupBoxing</li>
            </ul>
          </figcaption>
        </figure>
      </div>

      <div class="trainer__card">
        <figure>
          <div id="laura" class="trainer__img"></div>
          <figcaption>
            <h4>LAURA</h4>
            <ul class="trainer__description">
              <li lang="en-US">Pilates Gym</li>
              <li lang="en-US">Walking</li>
              <li lang="en-US">Spinning</li>
            </ul>
          </figcaption>
        </figure>
      </div>

      <div class="trainer__card">
        <figure>
          <div id="matteo" class="trainer__img"></div>
          <figcaption>
            <h4>MATTEO</h4>
            <ul class="trainer__description">
              <li lang="en-US">Power Pump</li>
              <li lang="en-US">Functional Training</li>
              <li lang="en-US">GroupBoxing</li>
            </ul>
          </figcaption>
        </figure>
      </div>

      <div class="trainer__card">
        <figure>
          <div id="roberto" class="trainer__img"></div>
          <figcaption>
            <h4>LEONARDO</h4>
            <ul class="trainer__description">
              <li lang="en-US">Addominal Killer</li>
              <li lang="en-US">Power Pump</li>
            </ul>
          </figcaption>
        </figure>
      </div>

      <div class="trainer__card">
        <figure>
          <div id="elisa" class="trainer__img"></div>
          <figcaption>
            <h4>ELISA</h4>
            <ul class="trainer__description">
              <li lang="en-US">Spinning</li>
              <li lang="en-US">Addominal Killer</li>
              <li lang="en-US">Pilates Gym</li>
            </ul>
          </figcaption>
        </figure>
      </div>

      <div class="trainer__card">
        <figure>
          <div id="irene" class="trainer__img"></div>
          <figcaption>
            <h4>IRENE</h4>
            <ul class="trainer__description">
              <li lang="en-US">Walking</li>
              <li lang="en-US">Spinning</li>
            </ul>
          </figcaption>
        </figure>
      </div>

      <div class="trainer__card">
        <figure>
          <div id="roberto" class="trainer__img"></div>
          <figcaption>
            <h4>ROBERTO</h4>
            <ul class="trainer__description">
              <li lang="en-US">Power Pump</li>
              <li lang="en-US">GroupBoxing</li>
            </ul>
          </figcaption>
        </figure>
      </div>

      <div class="trainer__card">
        <figure>
          <div id="laura" class="trainer__img"></div>
          <figcaption>
            <h4>LAURA</h4>
            <ul class="trainer__description">
              <li lang="en-US">Spinning</li>
              <li lang="en-US">Addominal Killer</li>
              <li lang="en-US">Pilates Gym</li>
            </ul>
          </figcaption>
        </figure>
      </div>

      <div class="trainer__card">
        <figure>
          <div id="matteo" class="trainer__img"></div>
          <figcaption>
            <h4>MATTEO</h4>
            <ul class="trainer__description">
              <li lang="en-US"><abbr title="Body and Tonification">Body & Ton</abbr></li>
              <li lang="en-US">Addominal Killer</li>
            </ul>
          </figcaption>
        </figure>
      </div>
    </section>

    <section id="prezzi" class="pricing container">
      <header class="section__header">
        <h2 class="section__subtitle">Abbonamenti</h2>
      </header>

      <div class="grid">
        <div id="mensile" class="pricing__card">
          <header class="pricing__header">
            <div class="pricing__img"><span>1</span></div>
  
            <h3 class="pricing__title">ABBONAMENTO MENSILE</h3>
            <h4 class="pricing__price">$50</h4>
          </header>
  
          <ul class="pricing__list">
            <li class="pricing__item">
              <span class="ri-checkbox-circle-line"></span> 3 giorni alla settimana
            </li>
            <li class="pricing__item">
              <span class="ri-checkbox-circle-line"></span> 1 scheda personalizzata
            </li>
            <li class="pricing__item">
              <span class="ri-checkbox-circle-line"></span> 2 lezioni personali
            </li>
          </ul>
        </div>
  
        <div id="semestrale" class="pricing__card">
          <header class="pricing__header">
            <div class="pricing__img"><span>6</span></div>
  
            <h3 class="pricing__title">ABBONAMENTO SEMESTRALE</h3>
            <h4 class="pricing__price">$280</h4>
          </header>
  
          <ul class="pricing__list">
            <li class="pricing__item">
              <span class="ri-checkbox-circle-line"></span> 5 giorni alla settimana
            </li>
            <li class="pricing__item">
              <span class="ri-checkbox-circle-line"></span> 6 scheda personalizzata
            </li>
            <li class="pricing__item">
              <span class="ri-checkbox-circle-line"></span> 20 lezioni personali
            </li>
          </ul>
        </div>
  
        <div id="annuale" class="pricing__card">
          <header class="pricing__header">
            <div class="pricing__img"><span>12</span></div>
  
            <h3 class="pricing__title">ABBONAMENTO ANNUALE</h3>
            <h4 class="pricing__price">$550</h4>
          </header>
  
          <ul class="pricing__list">
            <li class="pricing__item">
              <span class="ri-checkbox-circle-line"></span> 6 giorni alla settimana
            </li>
            <li class="pricing__item">
              <span class="ri-checkbox-circle-line"></span> 12 scheda personalizzata
            </li>
            <li class="pricing__item">
              <span class="ri-checkbox-circle-line"></span> 52 lezioni personali
            </li>
          </ul>
        </div>
      </div>
    </section>

    <section id="orari" class="schedule container">
      <header class="section__header">
        <h2 class="section__subtitle">Orari</h2>
      </header>

      <table id="schedule">
        <caption class="visually-hidden">Tabella orari Palestra <span lang="en-US">Lime Fitness House</span></caption>
        <tr>
          <th><abbr title="Lunedì">Lun</abbr></th>
          <td>08:00 - 21:30</td>
        </tr>
        <tr>
          <th><abbr title="Martedì">Mar</abbr></th>
          <td>09:00 - 21:30</td>
        </tr>
        <tr>
          <th><abbr title="Mercoledì">Mer</abbr></th>
          <td>08:00 - 21:30</td>
        </tr>
        <tr>
          <th><abbr title="Giovedì">Gio</abbr></th>
          <td>09:00 - 21:30</td>
        </tr>
        <tr>
          <th><abbr title="Venerdì">Ven</abbr></th>
          <td>08:00 - 21:30</td>
        </tr>
        <tr>
          <th><abbr title="Sabato">Sab</abbr></th>
          <td>09:30 - 14:00</td>
        </tr>
        <tr>
          <th><abbr title="Domenica">Dom</abbr></th>
          <td>-</td>
        </tr>
      </table>
    </section>

    <section id="posizione" class="maps container">
      <header class="section__header">
        <h2 class="section__subtitle">Dove siamo</h2>
        <h3 class="maps__title"><span class="secondary">VIENI A TROVARCI</span> <span>TI ASPETTIAMO !</span></h3>
      </header>
      <div class="itriangle"></div>
      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11140.072384803772!2d12.4732599!3d45.7307319!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x477944ccb2698865%3A0xd23ec782c859ec49!2sLime%20Fitness%20House!5e0!3m2!1sit!2sit!4v1697622162966!5m2!1sit!2sit" title="Palestra Lime Fitness in via dell'Artigianato, 13, 31047 Ponte di Piave Treviso" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </section>
  </main>

  <footer class="section">
    <div class="container grid">
      <a href="#" class="footer__logo">
        <span class="visually-hidden" lang="en-US">LIME FITNESS HOUSE</span>
      </a>
      <div class="footer__content">
        <div>
          <h2 class="footer__title">PROGRAMMI</h2>
          <ul class="footer__links">
            <li class="footer__link">
              <a href="#power-pump" lang="en-US">Power Pump</a>
            </li>
            <li class="footer__link">
              <a href="#walking" lang="en-US">Walking</a>
            </li>
            <li class="footer__link">
              <a href="#spinning" lang="en-US">Spinning</a>
            </li>
            <li class="footer__link">
              <a href="#body-ton" lang="en-US"><abbr title="Body and Tonification">Body & Ton</abbr></a>
            </li>
            <li class="footer__link">
              <a href="#functional-training" lang="en-US">Functional Training</a>
            </li>
            <li class="footer__link">
              <a href="#abdominal-killer" lang="en-US">Abdominal Killer</a>
            </li>
            <li class="footer__link">
              <a href="#pilates-gym" lang="en-US">Pilates Gym</a>
            </li>
            <li class="footer__link">
              <a href="#groupboxing" lang="en-US">GroupBoxing</a>
            </li>
          </ul>
        </div>

        <div>
          <h2 class="footer__title">ABBONAMENTI</h2>
          <ul class="footer__links">
            <li class="footer__link">
              <a href="#mensile">Mensile</a>
            </li>
            <li class="footer__link">
              <a href="#semestrale">Semestrale</a>
            </li>
            <li class="footer__link">
              <a href="#annuale">Annuale</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="container">
        <ul class="footer__social">
          <li><a href="https://www.instagram.com/lime_fitness_house/" class="footer__social-link"><span class="ri-instagram-line"></span><span class="visually-hidden" lang="en-US">Instagram link</span></a></li>
          <li><a href="/_link/?link=https%3A%2F%2Fwww.facebook.com%2Fpalestra.lime.fitness.house&target=P9mMKY6oK1vNYMmFecT401EUzu2LFwWRbtBKM%2BAETnBJU6K2atWZdT2WUoH9AQPyBjoJMs%2F0SCChUOvkuJnsPQH47P0OmppeGiBi2dMd%2FoT5USojF1qdoMI%2B4bKMKNPNzhmclzIsDztbOcsUiObOwGyiGp0%3D&iv=XaqPpGzcbNorNXVO" class="footer__social-link"><span class="ri-facebook-line"></span><span class="visually-hidden" lang="en-US">Facebook link</span></a></li>
          <li><a href="whatsapp://send?phone=393500020002&text=CIAO! Vorrei richiedere la prova gratuita. Sarei disponibile il giorno X all'ora Y" class="footer__social-link"><span class="ri-whatsapp-line"></span><span class="visually-hidden" lang="en-US">Whatsapp link</span></a></li>
        </ul>
      </div>

      <span class="footer__copy" lang="en-US">
        © Copyright Lime Fitness House. All rights reserved
      </span>
    </div>
  </footer>
</body>
</html>