<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="keywords" content="Palestra Treviso, Lime Fitness House, Pesi, Cardio, Corsi">
  <meta name="description" content="Sito di Lime Fitness House, Palestre Ponte di Piave, Palestre Provincia Treviso, Allenamento, Corsi, Pesi, Cardio, Pilates, Groupboxing, Spinning, Pole Dance">
  <meta name="author" content="Iberu">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/static/img/icon.png">
  <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
  <link rel="stylesheet" href="/static/css/style.css">
  <script defer src="/static/js/base.js"></script>
  <title>Lime Fitness House | Homepage</title>
</head>
<body>
  <header id="navigation">
    <nav class="container">
      <a href="#" class="nav__logo">
        <img src="/static/img/logo.png" alt="logo"> <span>LIME FITNESS HOUSE</span>
      </a>
      <div class="nav__menu">
        <ul class="nav__list">
          <li class="nav__item">
            <a href="#home">Home</a>
          </li>
          <li class="nav__item">
            <a href="#corsi">Corsi</a>
          </li>
          <li class="nav__item">
            <a href="#trainer">Trainer</a>
          </li>
          <li class="nav__item">
            <a href="#prezzi">Prezzi</a>
          </li>
          <li class="nav__item">
            <a href="#orari">Orari</a>
          </li>
          <li class="nav__item">
            <a href="#posizione">Posizione</a>
          </li>
        </ul>

        <div class="nav__close">
          <span class="ri-close-line"></span>
        </div>
      </div>
      
      <div class="nav__toggle">
        <span class="ri-menu-line"></span>
      </div>
    </nav>
  </header>

  <main>
    <section id="home" class="home container grid">
      <header class="section__header">
        <h1 class="home__title"><span class="secondary">ENERGIA E</span> <span>BENESSERE</span></h1>
      </header>

      <p class="home__description"><span>Dove il benessere diventa uno stile di vita:</span> <span>benvenuti nel nostro mondo del fitness.</span></p>
      <a href="#corsi" class="button button__flex">Scopri <span class="ri-arrow-right-line"></span></a>

      <div class="triangle"></div>
      <img src="/static/img/background.png" class="home__image">
    </section>

    <section id="corsi" class="program container">
      <header class="section__header">
        <h2 class="section__subtitle">I nostri corsi</h2>
        <h3 class="program__title"><span class="secondary">PER RAGGIUNGERE</span> <span>I TUOI OBIETTIVI</span></h3>
      </header>
      <div id="power-up" class="container grid">
        <div class="program__card">
          <div class="program__img">
            <img src="/static/img/program1.png">
          </div>
          <h3 class="program__title">Power Pump</h3>

          <p class="program__description">
            Il Power Pump è un allenamento fitness che fonde il sollevamento pesi con l'energia delle lezioni di gruppo.
          </p>
          <p class="program__description desktop">
            Offerto nella nostra palestra, questo programma mira a potenziare la tua forza muscolare e resistenza. Le sessioni guidate dagli istruttori coinvolgono esercizi mirati per le gambe, le braccia, il petto e la schiena, consentendo a te di modulare l'intensità e il peso in base al tuo livello di fitness. Il Power Pump è ideale per costruire muscoli, migliorare la tonicità e accelerare il metabolismo, il tutto in un'atmosfera divertente e dinamica. Sia che tu sia un principiante o un esperto del fitness, il Power Pump è la via verso una figura più snella, la perdita di peso e una maggiore resistenza fisica.
          </p>
        </div>

        <div id="walking" class="program__card">
          <div class="program__img">
            <img src="/static/img/program2.png">
          </div>
          <h3 class="program__title">Walking</h3>

          <p class="program__description">
            Il walking è un'attività fisica alla portata di tutti, che coinvolge il movimento a piedi a un ritmo costante.
          </p>
          <p class="program__description desktop">
            È una forma di esercizio leggero ma altamente benefica per la salute. Camminare regolarmente contribuisce a migliorare la resistenza cardiovascolare, a bruciare calorie e a rafforzare i muscoli delle gambe. È un'ottima scelta per chi cerca un'alternativa semplice e accessibile per rimanere attivo e godere dei benefici del fitness, senza la necessità di attrezzature costose o competenze particolari. Il walking può essere praticato da persone di tutte le età e livelli di forma fisica, rendendolo un modo efficace per mantenere uno stile di vita attivo.
          </p>
        </div>

        <div id="spinning" class="program__card">
          <div class="program__img">
            <img src="/static/img/program8.png">
          </div>
          <h3 class="program__title">Spinning</h3>

          <p class="program__description">
            Lo spinning è una forma di allenamento cardiovascolare ad alta intensità eseguito su cyclette.
          </p>
          <p class="program__description desktop">
            I benefici dello spinning sono molteplici. In primo luogo, migliora la salute cardiovascolare, aumentando la resistenza e riducendo il rischio di malattie cardiache. Inoltre, lo spinning è un alleato ideale per la gestione del peso, bruciando un notevole numero di calorie. Questo allenamento intenso tonifica i muscoli, in particolare quelli delle gambe e dei glutei, promuovendo una silhouette più snella e tonica. Ma ciò che rende davvero speciale lo spinning è l'atmosfera coinvolgente delle classi di gruppo, che ti motiverà a dare il massimo ad ogni pedalata. Unisciti a noi per un'esperienza di fitness emozionante e coinvolgente. Pedala verso il benessere, la salute e la forma fisica!
          </p>
        </div>

        <div id="body-ton" class="program__card">
          <div class="program__img">
            <img src="/static/img/program7.png">
          </div>
          <h3 class="program__title">Body & Ton</h3>

          <p class="program__description">
            Body and Tonification è una sessione dinamica progettata per snellire, rafforzare e migliorare la tua forma fisica generale.
          </p>
          <p class="program__description desktop">
            Attraverso una combinazione intelligente di esercizi a corpo libero, sollevamento pesi e lavoro sul core, questa classe mira a tonificare ogni parte del tuo corpo, garantendo risultati visibili nel tempo. Sotto la guida di istruttori esperti, ti immergerai in una sfida che migliorerà la tua forza, flessibilità e resistenza. Che tu sia un principiante o un esperto, il nostro allenamento Body and Tonification è adatto a tutti. Inoltre, il "Body and Tonification" migliora la postura e contribuisce a ridurre lo stress, regalandoti un benessere completo e una maggiore fiducia in te stesso. Unisciti a noi per trasformare il tuo corpo.
          </p>
        </div>

        <div id="functional-training" class="program__card">
          <div class="program__img">
            <img src="/static/img/program4.png">
          </div>
          <h3 class="program__title">Functional Training</h3>

          <p class="program__description">
            Il functional training è un approccio fitness mirato a migliorare la forza, flessibilità e stabilità del corpo per affrontare le sfide quotidiane.
          </p>
          <p class="program__description desktop">
            Gli esercizi coinvolgono movimenti multi-articolari che sviluppano agilità e coordinazione. Questa disciplina si adatta a vari livelli di forma fisica e utilizza attrezzi o il peso corporeo. Il focus è sulla funzionalità e l'applicazione pratica nella vita quotidiana, riducendo il rischio di infortuni e migliorando la capacità di affrontare attività quotidiane come sollevare oggetti o piegarsi. Il functional training è una scelta ideale per chi cerca un fitness con un impatto reale sulla vita.
          </p>
        </div>

        <div id="abdominal-killer" class="program__card">
          <div class="program__img">
            <img src="/static/img/program6.png">
          </div>
          <h3 class="program__title">Abdominal killer</h3>

          <p class="program__description">
            Abdominal Killer è un allenamento progettato per scolpire e rinforzare i tuoi addominali e a migliorare la stabilità e l'equilibrio.
          </p>
          <p class="program__description desktop">
            Durante questa classe, ti immergerai in una serie di esercizi mirati che metteranno alla prova il core. Lavorerai sugli addominali superiori, inferiori e obliqui, ottenendo una tonicità e una definizione sorprendenti. Sotto la guida attenta degli istruttori, imparerai a eseguire gli esercizi correttamente, riducendo al minimo il rischio di infortuni. Questo allenamento non solo ti aiuterà a raggiungere un ventre scolpito, ma contribuirà anche a migliorare la postura e la stabilità del core ed alleviare i dolori alla schiena. Sia che tu stia cercando di sfoggiare un ventre tonico in vista dell'estate o desideri migliorare la postura per un benessere migliore, il nostro "Abdominal Killer" è la soluzione perfetta.
          </p>
        </div>

        <div id="pilates-gym" class="program__card">
          <div class="program__img">
            <img src="/static/img/program3.png">
          </div>
          <h3 class="program__title">Pilates Gym</h3>

          <p class="program__description">
            Il Pilates Gym è un metodo di allenamento che unisce il rafforzamento fisico e il benessere mentale.
          </p>
          <p class="program__description desktop">
            Le sue lezioni si concentrano su esercizi di resistenza, flessibilità e controllo del respiro per migliorare la forza muscolare, la postura e la connessione mente-corpo. Questa disciplina è adatta a persone di diverse età e livelli di forma fisica poiché permette una personalizzazione delle sessioni. Il Pilates Gym promuove una migliore postura, una forza muscolare bilanciata e una maggiore consapevolezza corporea, contribuendo al benessere generale e alla riduzione dello stress. È una scelta popolare per coloro che cercano un approccio completo al fitness, che abbraccia sia l'aspetto fisico che quello mentale.
          </p>
        </div>

        <div id="groupboxing" class="program__card">
          <div class="program__img">
            <img src="/static/img/program5.png">
          </div>
          <h3 class="program__title">GroupBoxing</h3>

          <p class="program__description">
            Il groupboxing è una disciplina fitness che unisce l'allenamento con sacchi da boxe a lezioni di gruppo.
          </p>
          <p class="program__description desktop">
            Durante le sessioni, i partecipanti indossano guantoni da boxe e eseguono una varietà di colpi e calci sotto la guida di un istruttore. Questo allenamento ad alta intensità offre un rilascio positivo dello stress e un senso di empowerment, rendendolo popolare tra persone di diversi livelli di forma fisica. Il groupboxing è una modalità di fitness che promuove sia il benessere fisico che mentale, ed è una scelta ideale per coloro che cercano un'esperienza dinamica e coinvolgente.
          </p>
        </div>
      </div>
    </section>

    <section id="trainer" class="trainer container">
      <header class="section__header">
        <h2 class="section__subtitle">Personal Trainer</h2>
        <h3 class="maps__title"><span class="secondary">SCOPRI</span> <span>GLI ISTRUTTORI</span></h3>
      </header>

      <div class="trainer__card">
        <figure>
          <div id="roberto" class="trainer__img"></div>
          <figcaption>
            <h4>ROBERTO</h4>
            <ul class="trainer__description">
              <li>Fondatore</li>
              <li>Functional Training</li>
              <li>GroupBoxing</li>
            </ul>
          </figcaption>
        </figure>
      </div>

      <div class="trainer__card">
        <figure>
          <div id="laura" class="trainer__img"></div>
          <figcaption>
            <h4>LAURA</h4>
            <ul class="trainer__description">
              <li>Pilates Gym</li>
              <li>Walking</li>
              <li>Spinning</li>
            </ul>
          </figcaption>
        </figure>
      </div>

      <div class="trainer__card">
        <figure>
          <div id="matteo" class="trainer__img"></div>
          <figcaption>
            <h4>MATTEO</h4>
            <ul class="trainer__description">
              <li>Power Pump</li>
              <li>Functional Training</li>
              <li>GroupBoxing</li>
            </ul>
          </figcaption>
        </figure>
      </div>

      <div class="trainer__card">
        <figure>
          <div id="roberto" class="trainer__img"></div>
          <figcaption>
            <h4>LEONARDO</h4>
            <ul class="trainer__description">
              <li>Addominal Killer</li>
              <li>Power Pump</li>
            </ul>
          </figcaption>
        </figure>
      </div>

      <div class="trainer__card">
        <figure>
          <div id="elisa" class="trainer__img"></div>
          <figcaption>
            <h4>ELISA</h4>
            <ul class="trainer__description">
              <li>Spinning</li>
              <li>Addominal Killer</li>
              <li>Pilates Gym</li>
            </ul>
          </figcaption>
        </figure>
      </div>

      <div class="trainer__card">
        <figure>
          <div id="irene" class="trainer__img"></div>
          <figcaption>
            <h4>IRENE</h4>
            <ul class="trainer__description">
              <li>Walking</li>
              <li>Spinning</li>
            </ul>
          </figcaption>
        </figure>
      </div>

      <div class="trainer__card">
        <figure>
          <div id="roberto" class="trainer__img"></div>
          <figcaption>
            <h4>ROBERTO</h4>
            <ul class="trainer__description">
              <li>Power Pump</li>
              <li>GroupBoxing</li>
            </ul>
          </figcaption>
        </figure>
      </div>

      <div class="trainer__card">
        <figure>
          <div id="laura" class="trainer__img"></div>
          <figcaption>
            <h4>LAURA</h4>
            <ul class="trainer__description">
              <li>Spinning</li>
              <li>Addominal Killer</li>
              <li>Pilates Gym</li>
            </ul>
          </figcaption>
        </figure>
      </div>

      <div class="trainer__card">
        <figure>
          <div id="matteo" class="trainer__img"></div>
          <figcaption>
            <h4>MATTEO</h4>
            <ul class="trainer__description">
              <li>Body & Ton</li>
              <li>Addominal Killer</li>
            </ul>
          </figcaption>
        </figure>
      </div>
    </section>

    <section id="prezzi" class="pricing container grid">
      <header class="section__header">
        <h2 class="section__subtitle">Abbonamenti</h2>
      </header>

      <div id="mensile" class="pricing__card">
        <header class="pricing__header">
          <div class="pricing__img"><span>1</span></div>

          <h3 class="pricing__title">ABBONAMENTO MENSILE</h3>
          <h4 class="pricing__price">$50</h4>
        </header>

        <ul class="pricing__list">
          <li class="pricing__item">
            <span class="ri-checkbox-circle-line"></span> 3 giorni alla settimana
          </li>
          <li class="pricing__item">
            <span class="ri-checkbox-circle-line"></span> 1 scheda personalizzata
          </li>
          <li class="pricing__item">
            <span class="ri-checkbox-circle-line"></span> 2 lezioni personali
          </li>
        </ul>
      </div>

      <div id="semestrale" class="pricing__card">
        <header class="pricing__header">
          <div class="pricing__img"><span>6</span></div>

          <h3 class="pricing__title">ABBONAMENTO SEMESTRALE</h3>
          <h4 class="pricing__price">$280</h4>
        </header>

        <ul class="pricing__list">
          <li class="pricing__item">
            <span class="ri-checkbox-circle-line"></span> 5 giorni alla settimana
          </li>
          <li class="pricing__item">
            <span class="ri-checkbox-circle-line"></span> 6 scheda personalizzata
          </li>
          <li class="pricing__item">
            <span class="ri-checkbox-circle-line"></span> 20 lezioni personali
          </li>
        </ul>
      </div>

      <div id="annuale" class="pricing__card">
        <header class="pricing__header">
          <div class="pricing__img"><span>12</span></div>

          <h3 class="pricing__title">ABBONAMENTO ANNUALE</h3>
          <h4 class="pricing__price">$550</h4>
        </header>

        <ul class="pricing__list">
          <li class="pricing__item">
            <span class="ri-checkbox-circle-line"></span> 6 giorni alla settimana
          </li>
          <li class="pricing__item">
            <span class="ri-checkbox-circle-line"></span> 12 scheda personalizzata
          </li>
          <li class="pricing__item">
            <span class="ri-checkbox-circle-line"></span> 52 lezioni personali
          </li>
        </ul>
      </div>
    </section>

    <section id="orari" class="schedule container">
      <header class="section__header">
        <h2 class="section__subtitle">Orari</h2>
      </header>

      <table id="schedule">
        <caption class="visually-hidden">Tabella orari di ASD Palestra Energy</caption>
        <tr>
          <th>Lun</th>
          <td>08:00 - 21:30</td>
        </tr>
        <tr>
          <th>Mar</th>
          <td>09:00 - 21:30</td>
        </tr>
        <tr>
          <th>Mer</th>
          <td>08:00 - 21:30</td>
        </tr>
        <tr>
          <th>Gio</th>
          <td>09:00 - 21:30</td>
        </tr>
        <tr>
          <th>Ven</th>
          <td>08:00 - 21:30</td>
        </tr>
        <tr>
          <th>Sab</th>
          <td>09:30 - 14:00</td>
        </tr>
        <tr>
          <th>Dom</th>
          <td>-</td>
        </tr>
      </table>
    </section>

    <section id="posizione" class="maps container">
      <header class="section__header">
        <h2 class="section__subtitle">Dove siamo</h2>
        <h3 class="maps__title"><span class="secondary">VIENI A TROVARCI</span> <span>TI ASPETTIAMO !</span></h3>
      </header>
      <div class="itriangle"></div>
      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11140.072384803772!2d12.4732599!3d45.7307319!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x477944ccb2698865%3A0xd23ec782c859ec49!2sLime%20Fitness%20House!5e0!3m2!1sit!2sit!4v1697622162966!5m2!1sit!2sit" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </section>
  </main>

  <footer class="section">
    <div class="container grid">
      <a href="#" class="footer__logo">
      </a>
      <div class="footer__content">
        <div>
          <h2 class="footer__title">PROGRAMMI</h2>
          <ul class="footer__links">
            <li class="footer__link">
              <a href="#power-up">Power Pump</a>
            </li>
            <li class="footer__link">
              <a href="#walking">Walking</a>
            </li>
            <li class="footer__link">
              <a href="#spinning">Spinning</a>
            </li>
            <li class="footer__link">
              <a href="#body-ton">Body & Ton</a>
            </li>
            <li class="footer__link">
              <a href="#functional-training">Functional Training</a>
            </li>
            <li class="footer__link">
              <a href="#abdominal-killer">Abdominal Killer</a>
            </li>
            <li class="footer__link">
              <a href="#pilates-gym">Pilates Gym</a>
            </li>
            <li class="footer__link">
              <a href="#groupboxing">GroupBoxing</a>
            </li>
          </ul>
        </div>

        <div>
          <h2 class="footer__title">ABBONAMENTI</h2>
          <ul class="footer__links">
            <li class="footer__link">
              <a href="#mensile">Mensile</a>
            </li>
            <li class="footer__link">
              <a href="#semestrale">Semestrale</a>
            </li>
            <li class="footer__link">
              <a href="#annuale">Annuale</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="container">
        <ul class="footer__social">
          <li><a href="https://www.instagram.com/lime_fitness_house/" class="footer__social-link"><span class="ri-instagram-line"></span></a></li>
          <li><a href="/_link/?link=https%3A%2F%2Fwww.facebook.com%2Fpalestra.lime.fitness.house&target=P9mMKY6oK1vNYMmFecT401EUzu2LFwWRbtBKM%2BAETnBJU6K2atWZdT2WUoH9AQPyBjoJMs%2F0SCChUOvkuJnsPQH47P0OmppeGiBi2dMd%2FoT5USojF1qdoMI%2B4bKMKNPNzhmclzIsDztbOcsUiObOwGyiGp0%3D&iv=XaqPpGzcbNorNXVO" class="footer__social-link"><span class="ri-facebook-line"></span></a></li>
          <li><a href="whatsapp://send?phone=393500020002&text=CIAO! Vorrei richiedere la prova gratuita. Sarei disponibile il giorno X all'ora Y" class="footer__social-link"><span class="ri-whatsapp-line"></span></a></li>
        </ul>
      </div>

      <span class="footer__copy" lang="en-US">
        © Copyright Lime Fitness House. All rights reserved
      </span>
    </div>
  </footer>
</body>
</html>